includes:
  	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

rules:
    - Spatie\Ray\PHPStan\RemainingRayCallRule

parameters:
  level: 8
  featureToggles:
    notAnalysedTrait: true
    looseComparison: true
    disableCheckMissingIterableValueType: false
    varTagType: true
  checkDynamicProperties: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  checkTooWideReturnTypesInProtectedAndPublicMethods: false
  checkAlwaysTrueInstanceof: true
  checkAlwaysTrueStrictComparison: true
  checkAlwaysTrueLooseComparison: true
  checkExplicitMixedMissingReturn: true
  checkFunctionNameCase: true
  checkInternalClassCaseSensitivity: true
  treatPhpDocTypesAsCertain: false
  polluteScopeWithLoopInitialAssignments: true
  polluteScopeWithAlwaysIterableForeach: true
  reportMaybesInMethodSignatures: true
  reportMaybesInPropertyPhpDocTypes: true
  reportStaticMethodSignatures: false
  reportAlwaysTrueInLastCondition: true
  strictRules:
  		allRules: true
  		booleansInConditions: false
  banned_code:
      nodes:
        # enable detection of echo
        -
          type: Stmt_Echo
          functions: null

        # enable detection of eval
        -
          type: Expr_Eval
          functions: null

        # enable detection of die/exit
        -
          type: Expr_Exit
          functions: null

        # enable detection of a set of functions
        -
          type: Expr_FuncCall
          functions:
            - dd
            - debug_backtrace
            - dump
            - exec
            - passthru
            - phpinfo
            - proc_open
            - shell_exec
            - system
            - var_dump

        # enable detection of shell execution by backticks
        -
          type: Expr_ShellExec
          functions: null
  ergebnis:
  		declareStrictTypes:
  			enabled: false
  		noExtends:
  			enabled: false
  		noSwitch:
  			enabled: false
  		noNullableReturnTypeDeclaration:
  			enabled: false
  		noParameterWithNullableTypeDeclaration:
  			enabled: false
  		noParameterWithNullDefaultValue:
  			enabled: false
  		noIsset:
  			enabled: false
  		noConstructorParameterWithDefaultValue:
  			enabled: false
  shipmonkRules:
          allowComparingOnlyComparableTypes:
              enabled: false
          allowNamedArgumentOnlyInAttributes:
              enabled: false
          backedEnumGenerics:
              enabled: true
          classSuffixNaming:
              enabled: true
              superclassToSuffixMapping: []
          enforceClosureParamNativeTypehint:
              enabled: true
              allowMissingTypeWhenInferred: false
          enforceEnumMatch:
              enabled: true
          enforceIteratorToArrayPreserveKeys:
              enabled: true
          enforceListReturn:
              enabled: true
          enforceNativeReturnTypehint:
              enabled: true
          enforceReadonlyPublicProperty:
              enabled: false
          forbidArithmeticOperationOnNonNumber:
              enabled: false
              allowNumericString: false
          forbidAssignmentNotMatchingVarDoc:
              enabled: true
              allowNarrowing: false
          forbidCast:
              enabled: true
              blacklist: ['(object)', '(unset)']
          forbidCheckedExceptionInCallable:
              enabled: true
              immediatelyCalledCallables:
                  array_reduce: 1
                  array_intersect_ukey: 2
                  array_uintersect: 2
                  array_uintersect_assoc: 2
                  array_intersect_uassoc: 2
                  array_uintersect_uassoc: [2, 3]
                  array_diff_ukey: 2
                  array_udiff: 2
                  array_udiff_assoc: 2
                  array_diff_uassoc: 2
                  array_udiff_uassoc: [2, 3]
                  array_filter: 1
                  array_map: 0
                  array_walk_recursive: 1
                  array_walk: 1
                  uasort: 1
                  uksort: 1
                  usort: 1
              allowedCheckedExceptionCallables: []
          forbidCheckedExceptionInYieldingMethod:
              enabled: true
          forbidCustomFunctions:
              enabled: true
              list: []
          forbidEnumInFunctionArguments:
              enabled: true
          forbidFetchOnMixed:
              enabled: true
          forbidIdenticalClassComparison:
              enabled: true
              blacklist: ['DateTimeInterface']
          forbidIncrementDecrementOnNonInteger:
              enabled: false
          forbidMatchDefaultArmForEnums:
              enabled: false
          forbidMethodCallOnMixed:
              enabled: true
          forbidNotNormalizedType:
              enabled: true
              checkDisjunctiveNormalForm: true
          forbidNullInAssignOperations:
              enabled: true
              blacklist: ['??=']
          forbidNullInBinaryOperations:
              enabled: true
              blacklist: ['===', '!==', '??']
          forbidNullInInterpolatedString:
              enabled: true
          forbidPhpDocNullabilityMismatchWithNativeTypehint:
              enabled: true
          forbidProtectedEnumMethod:
              enabled: true
          forbidReturnValueInYieldingMethod:
              enabled: true
              reportRegardlessOfReturnType: false
          forbidVariableTypeOverwriting:
              enabled: true
          forbidUnsetClassField:
              enabled: false
          forbidUselessNullableReturn:
              enabled: true
          forbidUnusedException:
              enabled: true
          forbidUnusedMatchResult:
              enabled: true
          requirePreviousExceptionPass:
              enabled: true
              reportEvenIfExceptionIsNotAcceptableByRethrownOne: true
          uselessPrivatePropertyDefaultValue:
              enabled: true
          uselessPrivatePropertyNullability:
              enabled: true
  paths:
    - src/
    - tests/
  parallel:
    processTimeout: 300.0
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    - '#Access to an undefined property XMLReader#'
    - '#Call to an undefined method Mockery#'
    - '#Mockery\\LegacyMockInterface given.#'
    - '#Construct empty\(\) is not allowed. Use more strict comparison.#'
    - '#Using \(array\) is discouraged, please avoid using that.#'
    - '#Using return statement in constructor is forbidden to be able to check useless default values.#'
    -
      message: '#Undefined variable: \$this#'
      path: tests/*
    -
      message: '#is prohibited on unknown type \(\$this\)#'
      path: tests/*
    -
      message: '#Throwing checked exception#'
      path: tests/*
